@using Chameleon.Entity;
@using SevenTiny.Bantina.Extensions.AspNetCore;
@using Chameleon.Infrastructure;
@using Chameleon.Infrastructure.Configs;
@using System.Text;
@{
    ViewData["Title"] = "InterfaceDetail";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";

    var entity = Model as InterfaceSetting ?? new InterfaceSetting();
    //参数传递的条件
    List<InterfaceCondition> interfaceConditions = (ViewData["InterfaceCondition"] as List<InterfaceCondition>) ?? new List<InterfaceCondition>(0);
    var interfaceType = entity.GetInterfaceType();
    var interfaceTypeDescription = ((InterfaceTypeEnum)entity.InterfaceType).GetDescription();
    var dataApiUrl = UrlsConfig.Instance.DataApi;

    StringBuilder builder = new StringBuilder();
    foreach (var item in interfaceConditions)
    {
        builder.Append($"&{item.MetaFieldShortCode}=?");
    }
    string argsExtends = builder.ToString();
}
@{
    ViewData["Level_1"] = "对象设置";
    ViewData["Level_1"] = "接口详情";
}
@await Html.PartialAsync("~/Views/Shared/_PartialNavigation.cshtml")

<article class="page-container">
    <div class="panel panel-default mt-10">
        <div class="panel-header" style="background-color:#cbe7fc">@entity.Code</div>
        <div class="panel-body pd-20">
            <div>
                <span>接口名称：@entity.Name</span><br />
                <hr class="mt-10 mb-10" />
                <span>接口类型：@interfaceTypeDescription</span><br />
                <hr class="mt-10 mb-10" />
                @switch (interfaceType)
                {
                    case InterfaceTypeEnum.UnKnown:
                        break;
                    case InterfaceTypeEnum.Add:
                        <span>请求方式：POST</span>
                        <hr class="mt-10 mb-10" />
                        <span>接口地址：<a target="_blank" href="@dataApiUrl/api/CloudData?_interface=@entity.Code">@dataApiUrl/api/CloudData?_interface=@entity.Code</a></span><br />
                        <hr class="mt-10 mb-10" />
                        <span>字段值：request body json格式传递</span>
                        break;
                    case InterfaceTypeEnum.BatchAdd:
                        <span>请求方式：POST</span>
                        <hr class="mt-10 mb-10" />
                        <span>接口地址：<a target="_blank" href="@dataApiUrl/api/BatchCloudData?_interface=@entity.Code">@dataApiUrl/api/BatchCloudData?_interface=@entity.Code</a></span><br />
                        <hr class="mt-10 mb-10" />
                        <span>字段值：request body json格式传递</span>
                        break;
                    case InterfaceTypeEnum.Update:
                        <span>请求方式：PUT</span>
                        <hr class="mt-10 mb-10" />
                        <span>接口地址：<a target="_blank" href="@dataApiUrl/api/CloudData?_interface=@entity.Code@argsExtends">@dataApiUrl/api/CloudData?_interface=@entity.Code@argsExtends</a></span><br />
                        <hr class="mt-10 mb-10" />
                        <span>字段值：request body json格式传递</span>
                        break;
                    case InterfaceTypeEnum.Delete:
                        <span>请求方式：DELETE</span>
                        <hr class="mt-10 mb-10" />
                        <span>接口地址：<a target="_blank" href="@dataApiUrl/api/CloudData?_interface=@entity.Code@argsExtends">@dataApiUrl/api/CloudData?_interface=@entity.Code@argsExtends</a></span><br />
                        break;
                    case InterfaceTypeEnum.QueryCount:
                        <span>请求方式：GET</span>
                        <hr class="mt-10 mb-10" />
                        <span>接口地址：<a target="_blank" href="@dataApiUrl/api/CloudData?_interface=@entity.Code@argsExtends">@dataApiUrl/api/CloudData?_interface=@entity.Code@argsExtends</a></span><br />
                        break;
                    case InterfaceTypeEnum.QuerySingle:
                        <span>请求方式：GET</span>
                        <hr class="mt-10 mb-10" />
                        <span>接口地址：<a target="_blank" href="@dataApiUrl/api/CloudData?_interface=@entity.Code@argsExtends">@dataApiUrl/api/CloudData?_interface=@entity.Code@argsExtends</a></span><br />
                        break;
                    case InterfaceTypeEnum.QueryList:
                        <span>请求方式：GET</span>
                        <hr class="mt-10 mb-10" />
                        <span>接口地址：<a target="_blank" href="@dataApiUrl/api/CloudData?_interface=@entity.Code@argsExtends">@dataApiUrl/api/CloudData?_interface=@entity.Code@argsExtends</a></span><br />
                        <hr class="mt-10 mb-10" />
                        <span>可选参数：_pageIndex（页码）, _pageSize(页大小，如不传递默认按接口配置的页大小)</span>
                        break;
                    case InterfaceTypeEnum.DynamicScriptDataSource:
                    case InterfaceTypeEnum.JsonDataSource:
                        <span>请求方式：GET</span>
                        <hr class="mt-10 mb-10" />
                        <span>接口地址：<a target="_blank" href="@dataApiUrl/api/CloudData?_interface=@entity.Code">@dataApiUrl/api/CloudData?_interface=@entity.Code</a></span><br />
                        break;
                    case InterfaceTypeEnum.FileUpload:
                        <span>请求方式：POST</span>
                        <hr class="mt-10 mb-10" />
                        <span>接口地址：<a target="_blank" href="@dataApiUrl/api/File?_interface=@entity.Code">@dataApiUrl/api/File?_interface=@entity.Code</a></span><br />
                        <hr class="mt-10 mb-10" />
                        <span>文件：request form file (enctype="multipart/form-data")</span>
                        break;
                    case InterfaceTypeEnum.FileDownload:
                        <span>请求方式：GET</span>
                        <hr class="mt-10 mb-10" />
                        <span>接口地址：<a target="_blank" href="@dataApiUrl/api/File?_interface=@entity.Code&_fileId=xxxxid">@dataApiUrl/api/File?_interface=@entity.Code&_fileId=</a></span><br />
                        break;
                    default:
                        break;
                }
                <hr class="mt-10 mb-10" />
                <span>接口描述：@entity.Description</span><br />
            </div>
        </div>
    </div>
</article>

@await Html.PartialAsync("~/Views/Shared/_FooterScripts.cshtml")
@await Html.PartialAsync("~/Views/Shared/_CommonScript.cshtml")
@await Html.PartialAsync("~/Views/Shared/_FormValidate.cshtml")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
