@{
    ViewData["Title"] = "ScriptTemplate";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";
}
@{
    ViewData["Level_1"] = "触发器";
    ViewData["Level_2"] = "开发模板";
}
@await Html.PartialAsync("~/Views/Shared/_PartialNavigation.cshtml")

<style>
    pre {
        display: block;
        font-family: Monaco,Menlo,Consolas,"Courier New",monospace；padding:9.5px;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 20px;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre;
        white-space: pre-wrap;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #333
    }

    .prettyprint {
        margin-bottom: 20px;
        padding: 8px;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8
    }

        .prettyprint .com {
            color: #998;
            font-style: italic
        }
        /*注释*/
        .prettyprint .tag {
            color: #007
        }
        /*标签*/
        .prettyprint .lit {
            color: #195f91
        }

        .prettyprint .pun, .prettyprint .opn, .prettyprint .clo {
            color: #93a1a1
        }
        /*等于*/
        .prettyprint .fun {
            color: #dc322f
        }

        .prettyprint .str, .prettyprint .atv {
            color: #D14
        }
        /*值*/
        .prettyprint .kwd, .prettyprint .prettyprint .tag {
            color: #1e347b
        }

        .prettyprint .typ, .prettyprint .atn, .prettyprint .dec, .prettyprint .var {
            color: teal
        }
        /*文档声明，属性*/
        .prettyprint .pln {
            color: #48484c
        }

        .prettyprint.linenums {
            box-shadow: inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0
        }

    .pre-scrollable {
        max-height: 340px;
        overflow-y: scroll
    }

    pre ol.linenums {
        list-style: decimal outside none;
        margin: 0 0 0 33px
    }

        pre ol.linenums li {
            padding-left: 12px;
            color: #bbb;
            line-height: 18px;
            text-shadow: 0 1px 0 #fff
        }
</style>

<article class="cl pd-20">
    <a href="~/tools/Chameleon.Development.Template.zip" target="_blank" style="color:dodgerblue">开发调试套件下载</a>
    <hr />
    <h4>触发器上下文 triggerContext 字典中包含可用的key说明：</h4>
    <pre class="prettyprint linenums">
Interface：接口编码
PageIndex：页码（查询数据集合）
PageSize：页大小（查询数据集合）
FileId：文件Id（文件上传下载）
MetaObjectCode：对象编码
MetaObjectId：对象Id
CloudApplicationCode：应用编码
CloudApplicationtId：应用Id
CurrentOrganization：当前登陆人所属组织
CurrentUserId：当前登陆人UserId
CurrentUserEmail：当前登陆人邮箱
CurrentUserName：当前登陆人姓名
CurrentUserRole：当前登陆人角色
    </pre>

    <h4>记录日志：</h4>
    <pre class="prettyprint linenums">
//初始化日志对象
ILogger logger = new SevenTiny.Bantina.Logging.LogManager();

//Debug级别日志
logger.LogDebug(string message, params object[] args);
//Error级别日志
logger.LogError(string message, params object[] args);
//Information级别日志
logger.LogInformation(string message, params object[] args);
    </pre>

    <h4>数据操作（查询）：</h4>
    <pre class="prettyprint linenums">
//初始化数据库查询上下文
ChameleonDataDbContext dbContext = new ChameleonDataDbContext();

//条件构造器
var bf = Builders&lt;BsonDocument&gt;.Filter;

//查询姓名为“张三”，并且未删除的数据
var filter = bf.And(bf.Eq("Name","张三"),bf.Eq("IsDeleted",false));

//查询结果
var result = dbContext.GetCollectionBson("ChameleonDemo.UserInformation").Find(filter).ToList();
    </pre>

    <h4>数据操作（新增）：</h4>
    <pre class="prettyprint linenums">
//初始化数据库查询上下文
ChameleonDataDbContext dbContext = new ChameleonDataDbContext();

//构造数据
BsonDocument data = new BsonDocument();
data.Add("UserId", long.Parse(triggerContext["CurrentUserId"]));//从上下文拿到当前登陆人UserId的方法
data.Add("UserName", long.Parse(triggerContext["张三"]));

//新增
dbContext.GetCollectionBson("ChameleonSystem.UserInformation").InsertOne(message);
    </pre>
</article>

@await Html.PartialAsync($"~/Views/Shared/_FooterScripts.cshtml")
<script src="~/lib/perttify/prettify.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(document).ready(function () {
        prettyPrint()
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
