@using Chameleon.Entity;
@{
    ViewData["Title"] = "Abount";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";
}

@*<style>
        #aboutBg {
            width:100%;height:100%;position:absolute;z-index:-1;
        }
    </style>

    <img id="aboutBg" src="/about.jpg" />*@

<script src="~/js/jquery-1.11.3.min.js"></script>
<script src="~/lib/echarts/3.4.0/echarts.common.min.js"></script>
<div class="page-container">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:100%;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        $.ajax({
            type: 'GET',
            url: '/Home/AbountStatisticsJson',
            dataType: 'json',
            success: function (data) {
                if (data.isSuccess) {
                    option = {
                        title: {
                            text: '企业统计'
                        },
                        color: ['#3398DB'],
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: ['总人数', '管理员人数', '功能数', '菜单数', '身份数'],
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '',
                                type: 'bar',
                                barWidth: '30%',
                                data: [
                                    data.data.userAccountAllCount,
                                    data.data.userAccountAdminisratorCount,
                                    data.data.functionCount,
                                    data.data.menuCount,
                                    data.data.profileCount,
                                ]
                            }
                        ]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);

                    window.onresize = myChart.resize;
                }
            },
            error: function (data) {
                console.log(data.message);
            }
        });
    </script>
</div>