@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";
}
<script src="~/lib/echarts/3.4.0/echarts.common.min.js"></script>
<div class="page-container">
    
</div>